$border_colour: #DDDDDD;
$colour_primary: #45D4FF;
$color_stop1: rgba(13, 4, 175, 0.93);
$color_stop2: rgb(41, 41, 177);
$color_stop3: rgba(69,212,255,1);
$font_primary: #808080;
$font_secoundary: #808080;

