@import '../../styles/colours.scss';

.container {
  color: $font_primary;
  // border: 1px solid $border_colour;
  display: flex;
  flex-direction: row;
  // background-color: $border_colour;
  padding: 0;
}
